<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/css/main.css}"
      href="../static/css/main.css"
    />
    <title>Test Document</title>
  </head>
  <body>
    <h1 class="text-center bg-slate-300 text-3xl">Hello World</h1>
    <p class="This is a test">Hello this is what I want to do with my life</p>
  </body>
</html>
